.expImg{
    float: left;
    width: 145px;
    height: 170px;
}

.expButton{
    margin-top:100px;
    padding-right: 15px;
}

.expInfo{
    padding-top: 30px;
    padding-left: 20px;
}
.bp3-button{
    float: right;
}

.expName{
    margin-bottom: 5px;
}

.rw-experience-card{
    margin-bottom: 10px;    
}